body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background: #a6a6a6;
    line-height: 1.5em;
    min-width: 510px;
}

header{
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
    height: 100px;
}

h1 {
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    text-align: center;
    line-height: 1.1em;
}
h3 {
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    text-align: center;
    line-height: 1.1em;
}

.column {
    overflow: hidden;
    float: left;
    width: 15%;
    height: auto;
    min-height: 760px;
    max-height: 780px;
    background:rgb(211, 207, 207);
    margin: .165%;
}

.column-middle {
    float: left;
    width: 69%;
    min-height: 760px;
    height: auto;
    background:rgb(211, 207, 207);
    margin: .165%;
}

.chatbox {
    height: 50vh;
    overflow: auto;
    position: relative;
    border: 1px solid black;
    background: rgb(233, 250, 249);
    padding: 15px;
}

#messagebox {
    margin-top:1%;
    margin-left:1%;
    padding: 1%;
    width: 76%;
    height: 80px;
}
.submitmessage{
    height: 80px;
    width: 18%;

}
.inputboxes{
    display: block;
    margin-left: 3px;
    width: 90%;
    padding-left: 5px;
}

.userlist{
    text-align: center;
}
label{
    display: inline-block;
}